.git
.DS_Store
.next
node_modules
npm-debug.log
yarn-error.log
coverage
dist

.env
.env.local
.env.*.local
.env.docker
*.log

data/backups
data/minio-data
data/minio-config
data/minio-backup
data/file-index
data/**/*.db
data/**/*.db-*

public/uploads
public/uploads.*

backups
prisma/*.db*
prisma/**/*.db*
*.db
*.db-journal
*.db-wal
*.db-shm

bin
